.index-page-block {
  padding: 80px 0 45px;
  text-align: center;
  color: #144372;
  p {
    text-shadow: 1px 1px #fff;
    color: #555d68;
    font-size: 20px;
  }
}

.fast-search-block {
  margin-bottom: 80px;
  .topMenu {
    display: flex;
    justify-content: center;
    background: #33AB81;
    list-style: none;
    padding: 0;
    margin: 0;
    li {

    }
  }
  //.button {
  //  box-shadow: 0 24px 13px -7px #999;
  //  background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  //  background-color:#599bb3;
  //  display:inline-block;
  //  cursor:pointer;
  //  color:#ffffff;
  //  font-size: 18px;
  //  padding: 10px 32px;
  //  text-decoration:none;
  //  text-shadow: 0 1px 0px #3d768a;
  //}
  //.button:hover {
  //  box-shadow: none;
  //  background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  //  background-color:#408c99;
  //}
  //.button:active {
  //  position:relative;
  //  top:1px;
  //}

}